

  
    <div class="skn-sme-landing-cnt">
        <a href="skn-configure-projects.html" class="skn-sme-landing-box">
            <img src="../assets/images/icon-config-projects.svg" class="skn-landing-page-icon" />
            <div class="skn-sme-landing-text mt-2">Configure Projects</div>
        </a>
        <a href="skn-calibrate-documents.html" class="skn-sme-landing-box">
            <img src="../assets/images/icon-calibrate-docs.svg" class="skn-landing-page-icon" />
            <div class="skn-sme-landing-text mt-2">Calibrate Documents</div>
        </a>
        <a href="skn-reference-data-management.html" class="skn-sme-landing-box">
            <img src="../assets/images/icon-reference-data.svg" class="skn-landing-page-icon" />
            <div class="skn-sme-landing-text mt-2">Reference Data Management</div>
        </a>
        <a href="skn-cognitive-apis.html" class="skn-sme-landing-box">
            <img src="../assets/images/icon-cognitive-api.svg" class="skn-landing-page-icon" />
            <div class="skn-sme-landing-text mt-2">Cognitive APIs</div>
        </a>
    </div>
    <!--==========================================================================================================================-->
     