::ng-deep .p-calendar-w-btn .p-inputtext {
    height: 40px;
}

::ng-deep .p-button.p-button-icon-only{
    height: 40px;
}

#profileImage{

    height: 300px;
    width:200px;
}
.modal-content{
    width: 850px !important;
}