<!DOCTYPE html>

    
    
    <div class="skn-table-cnt">
        <table id="sknCalibrateTable" datatable class="skn-table">
            <thead>
                <tr>
                    <th>Document ID</th>
                    <th>File Name</th>
                    <th>Assignee</th>
                    <th>Created Date</th>
                    <th>Last Updated Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7" class="text-center">No data available in this table</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ==================================================================== table-ends-here ======================================================== -->
    
    
       
