.adm {
  background-color: #f5f5f5 !important;
  color: #777 !important;
  font-size: .85rem;
  font-family: 'Roboto', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-width{max-width: 1020px;}
.login-card {
    background:#312872;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    overflow: hidden;
}
.login-banner-bg {
    display: block;
    background: url(../images/LoginBG-trans.png) no-repeat left center;
    background-size: cover;
    width: 680px;
    height: 440px;
}
.login-banner img{width:100%}
.login-form {
    background: #fff;
    height: 100%;
    padding: 1rem;
    margin-right: 0.7rem;
}

h3.login-card-description {
    font-size: 24px;
    font-weight: 300;
    color: #000;
}
.brand-wrapper.c-logo {
    font-size: 16px;
    color: #000;
}
.brand-wrapper.c-logo i {
    display: inline-block;
    width: 100px;
    height: 36px;
    background: url(../images/MetroLogoBlue.png) no-repeat right center;
    background-size: contain;
}
.brand-wrapper.w-logo i {
    display: inline-block;
    width: 50px;
    height: 18px;
    background: url(../images/wns-logo.png) no-repeat right center;
    background-size: contain;
}
.login-form .form-control {
    color: #777;
    font-size: 12px;
    border-radius: 0;
}
.login-form .login-btn{border-radius: 0;}
p.login-card-footer-text {
    text-align: center;font-size:12px;
}
.sk-bar{background:#312872;height:60px;}
.sk-bar img {
    max-width: 100%;
    width: auto;
}
.copyrights {
    height: 45px;
    font-size: 9px;
    color: #fff;
}
.login-form .alert {
    font-size: 11px;
    padding: .25rem .5rem;
    margin-bottom: .75rem;
}
@media(max-width:768px){
.card-body.p-5 {
    padding: 20px!important;
}
h3.login-card-description {
    font-size: 21px;
}
.brand-wrapper {
    background-color: #312872;
    border-bottom: 2px solid #312872;
}
.brand-wrapper.c-logo i {
    background: url(../images/MetroLogoWhite.png) no-repeat center center;
    background-size: contain;
}
.brand-wrapper.w-logo {
    background: #2a0a77;
    border-top: 4px solid #2a0a77;
}
.brand-wrapper.w-logo i {
    background: url(../images/wns-logo-white.png) no-repeat right center;
    background-size: contain;
}
	
}