
    <div class="skn-add-doctype-cnt"><button type="button" class="skn-filled-btn d-block ms-auto" data-bs-toggle="modal" data-bs-target="#addDocTypeModal">Add New Document Type</button></div>
    
    <div class="skn-table-cnt">
        <table datatable id="sknCalibrateTable" class="skn-table">
            <thead>
                <tr>
                    <th>Document Type</th>
                    <th>Last Modified</th>
                    <th>Attribute Count</th>
                    <th>Model API</th>
                    <th>Training Data Set</th>
                    <th>Golden Data Set</th>
                    <th>Review Data</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>US ID Passport</td>
                    <td>31 May 02:06PM</td>
                    <td>9</td>
                    <td><span class="skn-text-success me-2">7</span><img src="../assets/images/icon-arrow-up-green.svg"></td>
                    <td><a href="skn-calibrate-documents-training.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-golden.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-review.html"><span class="skn-text-primary me-2">0</span></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>
                        <a href="#"><img src="../assets/images/copy-icon.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon skn-action-icon "/></a>
                    </td>
                </tr>
                <tr>
                    <td>US Driving License</td>
                    <td>31 May 02:06PM</td>
                    <td>9</td>
                    <td><span class="skn-text-success me-2">7</span><img src="../assets/images/icon-arrow-up-green.svg"></td>
                    <td><a href="skn-calibrate-documents-training.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-golden.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-review.html"><span class="skn-text-primary me-2">0</span></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>
                        <a href="#"><img src="../assets/images/copy-icon.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon skn-action-icon "/></a>
                    </td>
                </tr>
                <tr>
                    <td>Underwriting Policy</td>
                    <td>31 May 02:06PM</td>
                    <td>9</td>
                    <td><span class="skn-text-success me-2">7</span><img src="../assets/images/icon-arrow-up-green.svg"></td>
                    <td><a href="skn-calibrate-documents-training.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-golden.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-review.html"><span class="skn-text-primary me-2">0</span></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>
                        <a href="#"><img src="../assets/images/copy-icon.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon skn-action-icon "/></a>
                    </td>
                </tr>
                <tr>
                    <td>Split Doc</td>
                    <td>31 May 02:06PM</td>
                    <td>9</td>
                    <td><span class="skn-text-success me-2">7</span><img src="../assets/images/icon-arrow-up-green.svg"></td>
                    <td><a href="skn-calibrate-documents-training.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-golden.html"><span class="skn-text-primary me-2">7</span><img src="../assets/images/icon-arrow-up-orange.svg"></a></td>
                    <td><a href="skn-calibrate-documents-review.html"><span class="skn-text-primary me-2">0</span></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>
                        <a href="#"><img src="../assets/images/copy-icon.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon skn-action-icon "/></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   
        <!-- Add New Doc Type Modal -->
        <div class="modal fade" id="addDocTypeModal" tabindex="-1" aria-labelledby="addDocTypeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="skn-modal-title">Add New Document Type</h3>
                        <img src="../assets/images/icon-close.svg" class="ms-auto modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <!--===============================================================================================-->
                    <div class="modal-body p-0">
                        <div class="d-flex gap-3 mx-4 mt-3 mb-5">
                            <div class="w-100">
                                <label class="skn-modal-field-label-2 mb-2">Document Type Name*</label>
                                <input type="text" placeholder="" class="skn-input" required>
                            </div>
                            <div class="w-100">
                                <label class="skn-modal-field-label-2 mb-2">Model API</label>
                                <select class="skn-select">
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <!--===========================================================================================-->
                        <div class="skn-modal-table-cnt">
                            <table class="skn-modal-table">
                                <thead>
                                    <tr>
                                        <th class="skn-modal-field-label-2">Attributes Name</th>
                                        <th class="skn-modal-field-label-2">Model Attribute</th>
                                        <th class="skn-modal-field-label-2">Data Type</th>
                                        <th class="skn-modal-field-label-2">Field Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="skn-input">
                                        </td>
                                        <td>
                                            <select class="skn-select">
                                                <option value="Option 1">Option 1</option>
                                                <option value="Option 2">Option 2</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="skn-select">
                                                <option value="Option 1">Option 1</option>
                                                <option value="Option 2">Option 2</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="skn-select">
                                                <option value="Option 1">Option 1</option>
                                                <option value="Option 2">Option 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="skn-outline-btn">ADD NEW ATTRIBUTES</button>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--===========================================================================================-->
                    </div>
                    <!--===============================================================================================-->
                    <div class="modal-footer">
                        <button type="button" class="skn-transparent-btn" data-bs-dismiss="modal">CANCEL</button>
                        <button type="button" class="skn-filled-btn">SUBMIT</button>
                    </div>
                    <!--===============================================================================================-->
                </div>
            </div>
        </div>
        <!--=======================================================================================================-->

      