

    <!-- ====================================================== header-ends-here ================================================ -->
    
    <div class="skn-table-cnt">
        <table id="sknCalibrateTable" datatable class="skn-table">
            <thead>
                <tr>
                    <th>Document ID</th>
                    <th>File Name</th>
                    <th>Assignee</th>
                    <th>Created Date</th>
                    <th>Last Updated Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>01/01/2022</td>
                    <td>01/01/2022</td>
                    <td>Lorem ipsum</td>
                    <td>
                        <a href="#"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon me-3"/></a>
                        <a href="#"><img src="../assets/images/icon-trash.svg" class="skn-config-edit-icon"/></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ==================================================================== table-ends-here ======================================================== -->
