
    <div class="skn-table-cnt">
        <table id="sknCognitiveTable" datatable class="skn-table">
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Attributes</th>
                    <th>Versions</th>
                    <th>Comments</th>
                    <th>Endpoint</th>
                    <th>Last Updated</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Demo Project 1</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td>15 Jan 00:00</td>
                    <td>15 Jan 00:00</td>
                    <td><a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a></td>
                </tr>
                <tr>
                    <td>Demo Project 1</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td>15 Jan 00:00</td>
                    <td>15 Jan 00:00</td>
                    <td><a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a></td>
                </tr>
                <tr>
                    <td>Demo Project 1</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td>15 Jan 00:00</td>
                    <td>15 Jan 00:00</td>
                    <td><a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a></td>
                </tr>
                <tr>
                    <td>Demo Project 1</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                    <td>15 Jan 00:00</td>
                    <td>15 Jan 00:00</td>
                    <td><a href="#"><img src="../assets/images/icon-edit.svg" class="skn-config-edit-icon skn-action-icon me-3"/></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ==================================================================== table-ends-here ======================================================== -->
    
