

      
    <div class="skn-table-cnt">
        <table id="sknCognitiveTable" datatable class="skn-table">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Attributes</th>
                    <th>Endpoint</th>
                    <th>Last Active</th>
                    <th>Created</th>
                    <th>Benchmarked</th>
                    <th>Benchmark Accuracy</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>Lorem ipsum</td>
                    <td>01/01/2022</td>
                    <td>01/01/2022</td>
                    <td>15 Jan 00:00</td>
                    <td>NA<a href="#"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon ms-3"/></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>Lorem ipsum</td>
                    <td>01/01/2022</td>
                    <td>01/01/2022</td>
                    <td>15 Jan 00:00</td>
                    <td>NA<a href="#"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon ms-3"/></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>
                        Company Name, Vertical,<br>
                        Wesite... <a href="#" class="skn-text-primary text-decoration-none">3 more</a>
                    </td>
                    <td>Lorem ipsum</td>
                    <td>01/01/2022</td>
                    <td>01/01/2022</td>
                    <td>15 Jan 00:00</td>
                    <td>NA<a href="#"><img src="../assets/images/icon-play.svg" class="skn-config-edit-icon ms-3"/></a></td>
                    <td>
                        <div class="form-check form-switch skn-switch-green">
                            <input class="form-check-input skn-switch-green-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ==================================================================== table-ends-here ======================================================== -->
       