<div class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container p-3 login-width">
        <div class="login-card">
            <div class="row no-gutters">
                <div class="col-md-8 col-6">
                    <div class="sk-bar p-3">
                        <h4 class="text-white">Client Logo</h4>                 
                    </div>
                </div>
                <div class="col-md-4 col-6 bg-white">
                    <div class="brand-wrapper c-logo text-right p-2">
                       
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="login-banner-bg"></div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="login-form">
                        <div class="p-4">
                            <h3 class="login-card-description pt-3 pb-3">Forgot Password</h3>
                            <form [formGroup]="formChangePassword">
                                <div *ngIf="!emailExists">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" formControlName="email"  class="form-control"  placeholder="Enter" [ngClass]="{'is-invalid':submited && f.email.errors}"> 
                                </div>
                                 <input type="button" class="btn btn-block login-btn mb-4 btn-primary btn-sm" value="Send"  (click)="send()">
                                </div>
                                <div *ngIf="emailExists">
                                    
                                    <div class="form-group">
                                        <label for="email">Password</label>
                                        <input type="password"  class="form-control"  placeholder="Enter" formControlName="password" [ngClass]="{'is-invalid':submited && f.password.errors}"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Confirm password</label>
                                        <input type="password"  class="form-control"  placeholder="Enter" formControlName="confirmPassword" [ngClass]="{'is-invalid':submited && f.confirmPassword.errors}"> 
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-center">
                                                <button class="btn btn-sm btn-primary m-2" (click)="cancel()">Cancel</button>
                                                <button class="btn btn-sm btn-primary m-2" (click)="change()">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                               
                                </div>
                            </form>  
                            <p class="login-card-footer-text">New User? <a routerLink="../signup"> Signup Now</a></p> 
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8 col-6">
                    <div class="copyrights p-3">© 2020 </div>
                </div>
                <div class="col-md-4 col-6 bg-white">                                          
                    <div class="brand-wrapper  text-right p-2">
                        <i></i>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
